body {
  background-color: #121212;
  font-family: "Fjalla One", sans-serif;
  margin: 0;
  color: #fff;
}

/* https://codepen.io/billcastillo/pen/RVKxax */
h1 {
  letter-spacing: 0.125ch;

  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 0;

  font-size: calc(6em + 5vw);
  white-space: nowrap;

  background: linear-gradient(92deg, #95d7e3, #eb76ff);
  background: -webkit-linear-gradient(92deg, #95d7e3, #eb76ff);
  background-size: 600vw 600vw;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textAnimate 5s linear infinite alternate;
}

h2 {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 2.5em;
}

h3 {
  position: relative;
  text-align: center;
  width: 100%;
}

h3 a {
  width: 100%;
}

@keyframes textAnimate {
  from {
    filter: hue-rotate(0deg);
    background-position-x: 0%;
  }
  to {
    filter: hue-rotate(360deg);
    background-position-x: 600vw;
  }
}

div.text {
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  font-family: sans-serif;
}

div.links {
  text-align: center;
  font-size: 2em;
  letter-spacing: 1em;
  color: #fff;
  margin-bottom: 1em;
}

i,
a {
  display: inline-block;
  width: 50px;
  text-decoration: none;
  color: inherit;
  font-size: 1.25em;
}

p {
  text-align: center;
  color: #fff;
}
